:root {
  --main-text: #000;
  --second-text: #9a9a9a;

  --color-accent: #ffffff;
  --background-button: #ffffff;
  --button-text: #000000;
  --color-search-input: #ffffff;

  --background-nav: #dd8871;
  --hidden-nav: #dd88716d;
  --background-products: #f9f9f9;
  --background-newsletter: #f4db9d;
  --background-blog: #f9f9f9;
  --background-carousel: #6f89a8;
  --main-text-footer: #ffffff;
  --footer-text: #c9c9c9;

  --color-svg-icon: #ffffff;
  --color-svg-ulubione: #ffffff;
  --color-svg-cart: #ffffff;
  --color-svg-account: #ffffff;

  --color-text-current-price: #000000;
  --color-text-previous-price: #929292;

  --global-small-text: 0.8rem;
  --global-text: 1rem;
  --global-medium-text: 1.2rem;
  --global-big-text: 1.5rem;
  --global-border-radius: 30px;

  --akordeon-header: #efefef;
  --akordeon-header-text: #000000;
  --akordeon-header-hover: #f6f6f6;
  --akordeon-content-text: #000000;
  --akordeon-icon: #583103;
  --product-button: #000000;
  --background-amount-counter: #efefef;
}
html.dark {
  --main-text: #ffffff;
  --second-text: #9a9a9a;

  --color-accent: #ffffff;
  --background-button: #ffffff;
  --button-text: #463f3a;
  --color-search-input: #ffffff;

  --background-nav: #242424;
  --hidden-nav: #24242469;
  --background-products: #343434;
  --background-newsletter: #f4db9d;
  --background-blog: #343434;
  --background-carousel: #6f89a8;
  --main-text-footer: #ffffff;
  --footer-text: #c9c9c9;

  --color-svg-icon: #f9f9f9;
  --color-svg-ulubione: #f9f9f9;
  --color-svg-cart: #f9f9f9;
  --color-svg-account: #f9f9f9;

  --color-text-current-price: #f4eeee;
  --color-text-previous-price: #b9b9b9;

  --global-small-text: 0.8rem;
  --global-text: 1rem;
  --global-medium-text: 1.2rem;
  --global-big-text: 1.5rem;
  --global-border-radius: 30px;

  --akordeon-header: #4b4b4b;
  --akordeon-header-text: #ffffff;
  --akordeon-header-hover: #565656;
  --akordeon-content-text: #ffffff;
  --akordeon-icon: #ffffff;
  --product-button: #000000;
  --background-amount-counter: #efefef;
}
::-webkit-scrollbar {
  width: 7px;
  background: #dadada;
  transition: 0.3s ease;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  transition: 0.3s ease;
}
body {
  margin: 0;
  position: relative;
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  user-select: none;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  /* small tablets */
}

@media (min-width: 768px) {
  /* tablets / small laptops */
}

@media (min-width: 1024px) {
  /* laptopy / desktop */
}

@media (min-width: 1280px) {
  /* większe ekrany */
}
.global-wrapper {
  width: 100%;
}
.hidden {
  display: none;
}
.back-to-top {
  background: #000;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 1500;
  bottom: 15svh;
  right: -150px;
  transition: right 0.3s ease, transform 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back-to-top:hover {
  transform: scale(1.1);
}
.back-to-top svg {
  fill: var(--color-accent);
  width: 28px;
  height: 28px;
}
.back-to-top-show {
  right: 50px;
}
/* TOP CONTENT */
.top-section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--background-nav);
  height: 80px;
}
.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  height: 80px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 7%;
  height: 100%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 100%;
}
.logo img {
  height: 16px;
}
.nav-icons {
  width: 55%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.contrast-slider {
  width: 60px;
  height: 30px;
  background: #fff;
  border: 3px solid var(--color-accent);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.moon-phase {
  background: #5e5e5e;
}
.contrast-pin {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: var(--background-nav);
  position: absolute;
  left: 0;
  transition: 0.6s ease;
  opacity: 1;
}
.pin-active {
  left: calc(100% - 30px);
  background: var(--background-nav);
}
.heart {
  fill: var(--color-svg-ulubione);
  width: 26px;
  height: 26px;
  position: relative;
}
.cart {
  fill: var(--color-svg-cart);
  width: 26px;
  height: 26px;
  position: relative;
}
.updateLike {
  background: rgb(255, 50, 50);
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -4px;
  left: -4px;
  font-size: 10px;
  transition: 0.5s ease;
}
.updateBuy {
  background: rgb(255, 50, 50);
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -4px;
  left: -4px;
  font-size: 10px;
  transition: 0.5s ease;
}
.account {
  fill: var(--color-svg-account);
  width: 26px;
  height: 26px;
}
#hamburger {
  color: var(--main-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1001;
  cursor: pointer;
}
#hamburger svg {
  fill: var(--color-svg-icon);
  stroke: var(--color-svg-icon);
  width: 26px;
  height: 26px;
}
.nav {
  background: var(--hidden-nav);
  backdrop-filter: blur(15px);
  height: 100vh;
  width: 60%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--global-text);
  color: var(--main-text);
  text-align: center;
  transition: 0.5s ease;
}
.nav.active {
  left: 0;
}
.nav.disactive {
  left: -100%;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.nav ul li {
  width: 100%;
  height: 60px;
}
.nav a {
  text-decoration: none;
  color: var(--main-text);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SEARCH SECTION */
.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-search-input);
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 94%;
  height: 50px;
  z-index: 0;
}
.search-icon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background: blue; */
}
#search-input {
  margin: 0;
  padding: 20px 10px;
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  font-size: var(--global-small-text);
  color: #000;
  background: var(--color-search-input);
  text-align: left;
}
#search-input::placeholder {
  color: #000;
  letter-spacing: 0.2px;
}
#search-input:focus {
  border: 0;
  outline: 0;
}
/* MID CONTENT */
.mid-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-products);
}
.mid-content {
  width: 94%;
  display: flex;
  flex-direction: column;
}
.mid-head {
  width: 100%;
  color: var(--main-text);
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.mid-head-heading {
  margin: 1rem 0rem;
  font-size: var(--global-medium-text);
}
.mid-head-sortButton {
  font-size: var(--global-small-text);
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 170px;
  color: var(--button-text);
}
.sortButton-head {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  padding: 1rem 0rem;
  /* background: var(--background-button); */
  background: var(--background-button);
  border-radius: 10px;
  box-shadow: 0px 1px 3px #88888868;
}
.mid-head-sortButton svg {
  transition: transform 0.6s ease;
}
.sortButton-head-active {
  transform: rotate(90deg);
}
.sortButton-dropdown {
  color: var(--button-text);
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.addDisplayBlock {
  display: block;
}
.sortButton-dropdown a {
  text-decoration: none;
  padding: 1rem 1rem;
  display: flex block;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--button-text);
}
.sortButton-dropdown a svg {
  width: 14px;
  height: 14px;
}
.sortButton-dropdown a:hover {
  background: var(--background-products);
}
#filter-icon {
  height: 20px;
  width: 20px;
  padding: 0;
  fill: var(--button-text);
}
.product-container-mugs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0%, 50%));
  grid-auto-rows: 400px;
  justify-content: space-between;
  gap: 1rem;
}
.product-container-merch {
  display: grid;
  grid-template-columns: repeat(2, minmax(0%, 50%));
  grid-auto-rows: 400px;
  justify-content: space-between;
  gap: 1rem;
}
.product-container-tshirts {
  display: grid;
  grid-template-columns: repeat(2, minmax(0%, 50%));
  grid-auto-rows: 400px;
  justify-content: space-between;
  gap: 1rem;
}
.product-text-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
.product-name {
  color: var(--main-text);
  font-size: var(--global-text);
}
.product-current-price {
  font-size: var(--global-text);
  color: var(--color-text-current-price);
  font-weight: 400;
}
.product-previous-price {
  font-size: var(--global-small-text);
  color: var(--second-text);
}
.product-amount {
  color: var(--main-text);
  font-size: var(--global-small-text);
}
.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.product-patterns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.product-pattern {
  width: 20px;
  height: 20px;
  border-radius: 30%;
}
.product h4,
h5 {
  margin: 0;
}
.product-image {
  display: block;
  height: 260px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.3s ease;
}
/* NEWSLETTER SECTION */
.newsletter-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-products);
}
.news {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  background: var(--background-newsletter);
  text-align: center;
}
.news button {
  height: 35px;
  border: 0;
  max-width: 150px;
  width: 100%;
  border-radius: var(--global-border-radius);
  background: var(--background-button);
}
.news h2 {
  margin: 0;
  font-family: "Potta One", system-ui;
  font-size: var(--global-medium-text);
}
.news p {
  font-size: var(--global-small-text);
  margin: 0;
}
.news form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.news form textarea {
  border-radius: var(--global-border-radius);
  border: 0;
  resize: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 150px;
  padding: 1rem;
}
.news form textarea:focus {
  outline: 1;
  outline-color: #9292925c;
}
.news form input {
  border-radius: var(--global-border-radius);
  border: 0;
  height: 35px;
  padding: 15px;
  max-width: 190px;
  width: 50%;
  text-align: center;
  font-size: var(--global-small-text);
}
.news form input:focus {
  outline: 1;
  outline-color: #9292925c;
}
.news form input:placeholder {
  font-size: var(--global-small-text);
}
/* details section */
.details-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--background-blog);
}
.details-content {
  width: 94%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.details-box {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--background-carousel);
  padding: 1rem;
  border-radius: var(--global-border-radius);
}
.details-box button {
  height: 35px;
  width: 150px;
  border-radius: var(--global-border-radius);
  border: 0;
}
.details-box p {
  margin: 0;
  text-align: center;
  font-size: var(--global-small-text);
  color: var(--main-text);
}
/* footer section */
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  background: var(--background-nav);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  width: 94%;
}
.sm svg {
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
  fill: var(--main-text-footer);
  cursor: pointer;
}
.sm svg:hover {
  fill: #000000;
}
.store-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 94%;
  margin-top: 2rem;
  font-size: var(--global-small-text);
  color: var(--main-text-footer);
}
.store-details a {
  text-decoration: none;
  color: var(--main-text-footer);
  transition: font-weight 0.3s ease;
  width: fit-content;
  cursor: pointer;
}
.store-details a:hover {
  font-weight: 400;
  color: var(--footer-text);
}
.store-details h2,
h4 {
  margin: 0;
}
.separator {
  background: var(--main-text-footer);
  width: 30%;
  height: 0.5px;
  margin: 1rem 0rem;
}
.thank-you {
  width: 94%;
  font-size: var(--global-small-text);
  text-align: left;
  color: var(--main-text-footer);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* PRODUCT CARD LAYOUT */
.productSource {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-products);
  font-size: var(--global-small-text);
  color: var(--color-text-previous-price);
  /* margin-bottom: 1rem; */
}
.productSource p {
  width: 94%;
  margin: 0;
}
.sourceLink {
  color: var(--color-text-previous-price);
  text-underline-offset: 2px;
}
.productCard-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.productCard-image-control-left {
  width: 44px;
  height: 44px;
  background: #ffffff64;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 10px;
  top: calc(50% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.productCard-image-control-right {
  width: 44px;
  height: 44px;
  background: #ffffff64;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: calc(50% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.product-global-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-products);
}
.productCard-mainImage {
  width: 100%;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-snap-type: both mandatory;
  white-space: nowrap;
  position: relative;
}
.productCard-mainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  scroll-snap-align: start;
}
.productCard-textData-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--main-text);
  background: var(--background-products);
}
.productCard-textData {
  width: 94%;
  color: var(--main-text);
}
.productCard-name {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: var(--global-text);
  color: var(--main-text);
}
.productCard-currentPrice {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-size: var(--global-text);
  color: var(--color-text-current-price);
}
.productCard-previousPrice {
  margin-top: 0;
  font-size: var(--global-small-text);
  color: var(--color-text-previous-price);
}
.productCard-omnibus {
  margin-top: 0;
  font-size: var(--global-small-text);
  color: var(--color-text-previous-price);
  text-wrap: pretty;
}

.productCard-amount {
  margin-top: 0;
  font-size: var(--global-small-text);
}
.numDisplay {
  background: #ffffff;
  height: 56px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--global-medium-text);
}
.productAmount-wrapper {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  width: 94%;
}
.productAmount-wrapper input {
  width: 80px;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  font-size: var(--global-small-text);
  text-align: center;
  background: var(--background-amount-counter);
  box-shadow: 0px 1px 3px #83838353;
}
.productAmount-wrapper input:focus {
  outline: 0;
}
.productAmount-wrapper input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.productAmount-wrapper input[type="number"]::-webkit-inner-spin-button,
.productAmount-wrapper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
.amountError {
  animation: amountErrorBorder 1s ease-in-out;
}
@keyframes amountErrorBorder {
  0% {
    border: 3px solid transparent;
  }
  50% {
    border: 3px solid red;
  }
}
.addToCartButton {
  width: 100%;
  height: 56px;
  background: var(--product-button);
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  font-size: var(--global-small-text);
  transition: 0.3s ease;
  box-shadow: 0px 1px 3px #353535c0;
}
.addToCartButton:hover {
  background: #2f2f2f;
}
.addToCartButton:focus {
  outline: 0;
}
.addToCartButton:active {
  outline: 0;
}
.accordeons-wrapper {
  margin-top: 3rem;
}
.productCard-accordeon {
  width: 100%;
}
.productCard-accordeon-header {
  background: var(--akordeon-header);
  color: var(--akordeon-header-text);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  /* box-shadow: 0px 3px 3px #d8d8d881; */
  border-bottom: 0.5px solid #d9d9d9;
}
.productCard-accordeon-header:hover {
  background: var(--akordeon-header-hover);
}
.productCard-accordeon-iconContainer1 {
  background: var(--akordeon-icon);
  width: 20px;
  height: 0.5px;
}
.productCard-accordeon-iconContainer2 {
  background: var(--akordeon-icon);
  width: 20px;
  height: 0.5px;
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}
.productCard-accordeon-iconContainer2-animate {
  transform: rotate(0deg);
}
.productCard-accordeon-content {
  /* background: var(--akordeon-content); */
  color: var(--akordeon-content-text);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}
.content-in {
  padding: 1rem;
  font-size: var(--global-small-text);
  line-height: 18px;
}
/* Product recommendation */
.recommendation {
  width: 94%;
  height: 550px;
  overflow: auto;
  white-space: nowrap;
  place-self: center;
}
.recommendation h2 {
  font-size: var(--global-medium-text);
  margin: 2rem 0rem;
}
.recommender {
  display: inline-block;
  width: 200px;
  padding-bottom: 1rem;
  margin-right: 0.5rem;
}
.recommender-wrapper {
  display: flex;
  flex-direction: column;
}
.recommender img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}
.recommender-name {
  font-size: var(--global-text);
  color: var(--main-text);
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.recommender-currentPrice {
  font-size: var(--global-text);
  color: var(--main-text);
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.recommender-previousPrice {
  font-size: var(--global-small-text);
  color: var(--second-text);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.recommender-omnibus {
  white-space: wrap;
  color: var(--second-text) !important;
  font-size: var(--global-small-text);
  color: var(--main-text);
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.recommender-wrapper button {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 0;
}
.favPage-wrapper {
  width: 100%;
  background: var(--background-products);
  /* height: 500px; */
  display: flex;
  justify-content: center;
}
.favPage-products-wrapper {
  margin: 2rem 0rem;
  width: 94%;
  height: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit);
}
.favProduct {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.favProduct-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.favProduct-name {
  font-size: var(--global-text);
  margin: 0.5rem 0rem;
}
.favProduct-price {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem;
}
.favProduct-current-price {
  font-size: var(--global-text);
  margin: 0.5rem 0rem;
}
.favProduct-previous-price {
  font-size: var(--global-small-text);
  margin: 0.5rem 0rem;
}
.favProduct-amount {
  font-size: var(--global-small-text);
  margin: 0.5rem 0rem;
}
.favProduct-ux {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.favProduct-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 35px;
  border-radius: 5px;
  background: var(--background-nav);
  cursor: pointer;
  transition: background 0.3s ease;
}
.favProduct-svg:hover {
  background: #f59c83;
}
