/* :root {
  --color-text-primary: #000000;
  --color-text-secondary: #978978;
  --color-top-bottom: #d8d2c2;
  --color-form: #5e5549;
  --color-product-area: #faf7f0;
  --color-svg: #393e46;
  --color-accent: #ffffff;
  --global-text: 1rem;
  --global-medium-text: 1.2rem;
  --global-big-text: 1.5rem;
  --global-border-radius: 30px;
} */
:root {
  --color-text-primary: #000000;
  --color-text-secondary: #978978;
  --color-top-bottom: #f2e9e4;
  --color-product-area: #f5efe6;
  --color-blog-area: red;
  --color-button-background: red;
  --color-newsletter-background: pink;
  --color-search-input: #ffffff;
  --color-accent: #ffffff;
  --color-svg-icon: #22223b;
  --color-svg-ulubione: #f33030;
  --color-svg-cart: #000000;
  --color-svg-contrast: #000000;
  --color-svg-account: #424242;
  --color-text-current-price: #000;
  --global-text: 1rem;
  --global-medium-text: 1.2rem;
  --global-big-text: 1.5rem;
  --global-border-radius: 30px;
}
html.dark {
  --color-text-primary: #f2e9e4;
  --color-text-secondary: #b8b8b8;
  --color-top-bottom: #4a4e69;
  --color-product-area: linear-gradient(
    180deg,
    hsla(232, 17%, 35%, 1) 0%,
    hsla(309, 6%, 58%, 1) 100%
  );
  --color-blog-area: #9a8c98;
  --color-charity-area: #c9ada7;
  --color-footer-area: #4a4e69;
  --color-button-background: #393956;
  --color-newsletter-background: pink;
  --color-search-input: #f2e9e4;
  --color-text-current-price: #f34343;
  --color-accent: #f2e9e4;
  --color-svg-icon: #f2e9e4;
  --color-svg-ulubione: #f2e9e4;
  --color-svg-cart: #f2e9e4;
  --color-svg-account: #f2e9e4;
  --color-text-current-price: #000;

  scroll-behavior: smooth;
}
/* html.dark {
  --color-text-primary: #ebebeb;
  --color-text-secondary: #fd7d0e;
  --color-top-bottom: #222831;
  --color-form: #222831;
  --color-product-area: #393e46;
  --color-svg: #ebebeb;
  --color-accent: #e1d8c9;
  scroll-behavior: smooth;
} */
::-webkit-scrollbar {
  width: 7px;
  background: #dadada;
  transition: 0.3s ease;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  transition: 0.3s ease;
}
body {
  margin: 0;
  /* background: var(--color-top-bottom); */
}
* {
  /* font-family: "Cherry Bomb One", system-ui; */
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  user-select: none;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  * {
    opacity: 0;
  } /* small tablets */
}

@media (min-width: 768px) {
  /* tablets / small laptops */
}

@media (min-width: 1024px) {
  /* laptopy / desktop */
}

@media (min-width: 1280px) {
  /* większe ekrany */
}
.global-wrapper {
  width: 100%;
}
.hidden {
  display: none;
}
/* TOP CONTENT */
.logo {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  /* background: red; */
}
.logo img {
  height: 16px;
}
.top-section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--color-top-bottom);
  height: 80px;
}
.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  height: 80px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-icons {
  /* background: blue; */
  /* border-radius: var(--global-border-radius); */
  width: 60%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  /* background: red; */
}
.nav-icons-icon {
  /* background: brown; */
  /* height: 100%; */
}
.contrast-slider {
  width: 70px;
  height: 30px;
  background-image: url("sun.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-accent);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* transition: 1s ease; */
}
.moon-phase {
  background-image: url("moon.jpg");
  background-size: cover;
}
.contrast-pin {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #f98928c1;
  position: absolute;
  left: 0;
  transition: 0.6s ease;
  opacity: 1;
}
.pin-active {
  left: calc(100% - 30px);
  background: #1fa9f494;
}
.menu-area {
  /* background: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
  height: 80px;
}
.heart {
  fill: var(--color-svg-ulubione);
  width: 22px;
  height: 22px;
}
.cart {
  fill: var(--color-svg-cart);
  width: 22px;
  height: 22px;
}
.account {
  fill: var(--color-svg-account);
  width: 22px;
  height: 22px;
}
#hamburger {
  color: var(--color-text-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1001;
  cursor: pointer;
}
#hamburger svg {
  fill: var(--color-svg-icon);
  stroke: var(--color-svg-icon);
  width: 22px;
  height: 22px;
}
.nav {
  background: #e1d2c987;
  backdrop-filter: blur(15px);
  height: 100vh;
  width: 60%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--global-text);
  text-align: center;
  transition: 0.5s ease;
}
.nav.active {
  left: 0;
}
.nav.disactive {
  left: -100%;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.nav ul li {
  width: 100%;
  height: 60px;
}
.nav a {
  text-decoration: none;
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SEARCH SECTION */
.search-section {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-search-input);
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 94%;
  height: 50px;
  z-index: 0;
}
.search-icon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background: blue; */
}
#search-input {
  margin: 0;
  padding: 20px 10px;
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  font-size: var(--global-text);
  color: var(--color-text-primary);
  background: var(--color-search-input);
  text-align: left;
}
#search-input::placeholder {
  color: #032638;
  letter-spacing: 1px;
}
#search-input:focus {
  border: 0;
  outline: 0;
}
/* MID CONTENT */
.mid-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-product-area);
}
.mid-content {
  width: 94%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-label {
  font-weight: 400;
  width: 100%;
  font-size: var(--global-big-text);
  color: var(--color-text-primary);
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}
.main-label-filter {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* gap: 1rem; */
  justify-content: space-between;
  font-size: var(--global-text);
  /* background: blue; */
}
.main-label svg {
  fill: var(--color-text-primary);
}
.main-label-filter > div {
  background: var(--color-button-background);
  border: 2px solid var(--color-accent);
  padding: 1rem;
  border-radius: var(--global-border-radius);
  display: flex;
  /* gap: 0.5rem; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  height: 40px;
  width: 40%;
}
.main-label-filter h4 {
  margin: 0;
  padding: 0;
}
.product-container-mugs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0%, 50%));
  grid-auto-rows: auto-fill;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.5s ease;
}
.product-container-merch {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  transition: all 0.5s ease;
}
.product-container-tshirts {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  transition: all 0.5s ease;
}
.product-text-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.product-price {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.product-name {
  color: var(--color-text-primary);
}
.product-current-price {
  font-size: var(--global-medium-text);
  color: var(--color-text-current-price);
  font-weight: 400;
}
.product-previous-price {
  font-size: var(--global-text);
  color: var(--color-text-secondary);
}
.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}
.product-patterns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.product-pattern {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
}
.product h4,
h5 {
  margin: 0;
}
.product-image {
  display: block;
  height: 260px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--global-border-radius);
  border: 3px solid var(--color-accent);
  box-sizing: border-box;
  transition: 0.3s ease;
}
.switchLayout {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  transition: 0.3s ease;
}
.imageSingleLayout {
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: var(--global-border-radius);
  height: 550px;
  transition: 0.3s ease;
}
/* details section */
.details-section {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  background: var(--color-blog-area);
}
.details-content {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
.news {
  width: 100%;
  border-radius: var(--global-border-radius);
  background: var(--color-newsletter-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}
.news button {
  height: 35px;
  border: 0;
  width: 100%;
  border-radius: var(--global-border-radius);
  background: var(--color-button-background);
}
.news h4 {
  margin: 0;
}
.news form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.news form input {
  border-radius: var(--global-border-radius);
  border: 0;
  height: 35px;
  padding: 15px;
  width: 50%;
  text-align: center;
}
.news form input:focus {
  outline: 1;
  outline-offset: 1px;
  outline-color: #e1d8c9;
}
.blog-info1 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--global-border-radius);
  background-image: url("cat4.jpg");
  background-size: cover;
}
.blog-info2 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--global-border-radius);
  background-image: url("cat5.jpg");
  background-size: cover;
}
.blog-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-text p {
  color: #fff;
  font-size: var(--global-medium-text);
  font-weight: 500;
  text-shadow: 1px 1px 5px #000000bc;
}
.blog-text button {
  border-radius: var(--global-border-radius);
  border: 0;
  height: 35px;
  width: 70%;
  box-shadow: 1px 1px 15px #00000047;
  background: var(--color-button-background);
}
/* footer section */
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-footer-area);
  transition: all 0.15s ease-in-out;
}
.footer-content {
  max-width: 992px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}
.store-info {
  /* background: var(--color-text-secondary); */
  padding: 2rem;
  font-size: var(--global-text);
  /* background: var(--color-accent); */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-text-primary);
  background: var(--color-charity-area);
}
.store-info p {
  margin: 0;
  text-align: center;
}
.store-info p:nth-child(1) {
  font-size: var(--global-medium-text);
}
.sm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0rem;
  gap: 1rem;
  width: 94%;
}
.sm svg {
  width: 34px;
  height: 34px;
  transition: all 0.2s ease-in-out;
  fill: var(--color-svg);
  cursor: pointer;
}
.sm svg:hover {
  fill: #000;
}
.store-details {
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-top: 2rem;
  font-size: var(--global-text);
  color: var(--color-text-primary);
}
.store-details a {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: background 0.3s ease;
  width: fit-content;
}
.store-details a:hover {
  font-weight: 400;
  background: var(--color-text-primary);
  color: var(--color-footer-area);
}
.store-details h2,
h4 {
  margin: 0;
}
.separator {
  background: var(--color-svg);
  width: 50%;
  height: 0.5px;
  margin: 1rem 0rem;
}
.thank-you {
  width: 94%;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  color: var(--color-text-primary);
  padding-bottom: 2rem;
}
