:root {
  --main-text: #000;
  --second-text: #9a9a9a;

  --color-accent: #ffffff;
  --background-button: #ffffff;
  --button-text: #000000;
  --color-search-input: #ffffff;

  --background-nav: #dd8871;
  --hidden-nav: #dd88716d;
  --background-products: #ededed;
  --background-newsletter: #f4db9d;
  --background-blog: #f9f9f9;
  --background-carousel: #6f89a8;
  --main-text-footer: #ffffff;
  --footer-text: #c9c9c9;

  --color-svg-icon: #ffffff;
  --color-svg-ulubione: #ffffff;
  --color-svg-cart: #ffffff;
  --color-svg-account: #ffffff;

  --color-text-current-price: #000000;
  --color-text-previous-price: #929292;

  --global-small-text: 0.8rem;
  --global-text: 1rem;
  --global-medium-text: 1.2rem;
  --global-big-text: 1.5rem;
  --global-border-radius: 30px;

  --akordeon-header: #f8f8f8;
  --akordeon-header-text: #000000;
  --akordeon-header-hover: #f6f6f6;
  --akordeon-content-text: #000000;
  --akordeon-icon: #583103;
  --product-button: #000000;
  --background-amount-counter: #ffffff;
}
html.dark {
  --main-text: #ffffff;
  --second-text: #9a9a9a;

  --color-accent: #ffffff;
  --background-button: #ffffff;
  --button-text: #463f3a;
  --color-search-input: #ffffff;

  --background-nav: #242424;
  --hidden-nav: #24242469;
  --background-products: #343434;
  --background-newsletter: #f4db9d;
  --background-blog: #343434;
  --background-carousel: #6f89a8;
  --main-text-footer: #ffffff;
  --footer-text: #c9c9c9;

  --color-svg-icon: #f9f9f9;
  --color-svg-ulubione: #f9f9f9;
  --color-svg-cart: #f9f9f9;
  --color-svg-account: #f9f9f9;

  --color-text-current-price: #f4eeee;
  --color-text-previous-price: #b9b9b9;

  --global-small-text: 0.8rem;
  --global-text: 1rem;
  --global-medium-text: 1.2rem;
  --global-big-text: 1.5rem;
  --global-border-radius: 30px;

  --akordeon-header: #4b4b4b;
  --akordeon-header-text: #ffffff;
  --akordeon-header-hover: #565656;
  --akordeon-content-text: #ffffff;
  --akordeon-icon: #ffffff;
  --product-button: #000000;
  --background-amount-counter: #efefef;
}
::-webkit-scrollbar {
  width: 7px;
  background: #dadada;
  transition: 0.3s ease;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  transition: 0.3s ease;
}
body {
  margin: 0;
  position: relative;
  background: var(--background-products);
}
* {
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Kanit", sans-serif; */
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  user-select: none;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  /* small tablets */
}

@media (min-width: 768px) {
  /* tablets / small laptops */
}

@media (min-width: 1024px) {
  /* laptopy / desktop */
}

@media (min-width: 1280px) {
  /* większe ekrany */
}
.global-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.back-to-top {
  background: #000;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 1500;
  bottom: 15svh;
  right: -150px;
  transition: right 0.3s ease, transform 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back-to-top:hover {
  transform: scale(1.1);
}
.back-to-top svg {
  fill: var(--color-accent);
  width: 28px;
  height: 28px;
}
.back-to-top-show {
  right: 50px;
}
/* TOP CONTENT */
.top-section {
  width: 94%;
  margin-top: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: 100;
  background: var(--background-nav);
  height: 50px;
}
.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80px;
}
.menu-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 7%;
  height: 100%;
}
.logo {
  display: none;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 100%;
}
.logo img {
  height: 15px;
}
.nav-icons {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6rem;
}
.contrast-slider {
  width: 50px;
  height: 24px;
  background: #fff;
  border: 3px solid var(--color-accent);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.moon-phase {
  background: #5e5e5e;
}
.contrast-pin {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: var(--background-nav);
  position: absolute;
  left: 0;
  transition: 0.6s ease;
  opacity: 1;
}
.pin-active {
  left: calc(100% - 25px);
  background: var(--background-nav);
}
.heart {
  fill: var(--color-svg-ulubione);
  width: 24px;
  height: 24px;
}
.cart {
  fill: var(--color-svg-cart);
  width: 23px;
  height: 23px;
}
.account {
  fill: var(--color-svg-account);
  width: 22px;
  height: 22px;
}
#hamburger {
  color: var(--main-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1001;
  cursor: pointer;
}
#hamburger svg {
  fill: var(--color-svg-icon);
  stroke: var(--color-svg-icon);
  width: 26px;
  height: 26px;
}
.nav {
  background: var(--hidden-nav);
  backdrop-filter: blur(15px);
  height: 100vh;
  width: 60%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--global-text);
  color: var(--main-text);
  text-align: center;
  transition: 0.5s ease;
}
.nav.active {
  left: 0;
}
.nav.disactive {
  left: -100%;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.nav ul li {
  width: 100%;
  height: 60px;
}
.nav a {
  text-decoration: none;
  color: var(--main-text);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SEARCH SECTION */
.search-section {
  width: 94%;
  margin-top: 1rem;
  border-radius: 10px;
  display: flex;
  background: var(--color-search-input);
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 94%;
  height: 50px;
  z-index: 0;
}
.search-icon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0;
}
#search-input {
  margin: 0;
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: var(--global-text);
  color: #000;
  background: var(--color-search-input);
  text-align: left;
}
#search-input::placeholder {
  color: var(--second-text);
}
#search-input:focus {
  border: 0;
  outline: 0;
}
/* MID CONTENT */
.mid-section {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-products);
}
.mid-content {
  /* width: 94%; */
  display: flex;
  flex-direction: column;
}
.mid-head {
  width: 100%;
  color: var(--main-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0rem;
}
.backWithTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.back-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back-button svg {
  width: 26px;
  height: 26px;
  fill: var(--background-nav);
}
.mid-head-heading {
  margin: 1rem 0rem;
  font-size: var(--global-text);
}
.mid-head-sortButton {
  font-size: var(--global-small-text);
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 150px;
  color: var(--button-text);
}
.sortButton-head {
  font-size: var(--global-text);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: var(--background-button);
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(179, 179, 179, 0.133);
}
.sortButton-head-active {
  transform: rotate(90deg);
}
.sortButton-dropdown {
  font-size: var(--global-text);
  color: var(--button-text);
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.addDisplayBlock {
  display: block;
}
.sortButton-dropdown a {
  text-decoration: none;
  padding: 1rem 1rem;
  display: flex block;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--button-text);
}
.sortButton-dropdown a svg {
  width: 14px;
  height: 14px;
}
.sortButton-dropdown a:hover {
  background: var(--background-products);
}
#filter-icon {
  height: 20px;
  width: 20px;
  padding: 0;
  fill: var(--button-text);
}
.product-container-mugs {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(40%, 190px));
  grid-auto-rows: 340px;
  gap: 0.5rem;
  overflow: hidden;
}
.product-container-merch {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(40%, 190px));
  grid-auto-rows: 340px;
  gap: 0.5rem;
  overflow: hidden;
}
.product-container-tshirts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(40%, 190px));
  grid-auto-rows: 340px;
  gap: 0.5rem;
  overflow: hidden;
}
.product {
  position: relative;
  overflow: hidden;
}
.product img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.addToFav {
  position: absolute;
  top: 205px;
  margin-left: 0.5rem;
  width: 36px;
  height: 36px;
  background: #ffffff40;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.product svg {
  fill: white;
  width: 22px;
  height: 22px;
}
.product-text-data {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.product p {
  margin: 0;
  display: inline-block;
}
.priceLine {
  display: flex;
  gap: 0.5rem;
}
.productName {
  color: var(--main-text);
}
.productCurrentPrice {
  font-weight: 500;
  color: var(--main-text);
}
.productPreviousPrice {
  color: var(--second-text) !important;
}
.productOmnibus {
  font-size: var(--global-small-text);
  color: var(--second-text) !important;
}
/* NEWSLETTER SECTION */
.newsletter-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-products);
}
.news {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  background: var(--background-newsletter);
  text-align: center;
}
.news button {
  height: 35px;
  border: 0;
  max-width: 150px;
  width: 100%;
  border-radius: var(--global-border-radius);
  background: var(--background-button);
}
.news h2 {
  margin: 0;
  font-family: "Potta One", system-ui;
  font-size: var(--global-medium-text);
}
.news p {
  font-size: var(--global-small-text);
  margin: 0;
}
.news form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.news form textarea {
  border-radius: var(--global-border-radius);
  border: 0;
  resize: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 150px;
  padding: 1rem;
}
.news form textarea:focus {
  outline: 1;
  outline-color: #9292925c;
}
.news form input {
  border-radius: var(--global-border-radius);
  border: 0;
  height: 35px;
  padding: 15px;
  max-width: 190px;
  width: 50%;
  text-align: center;
  font-size: var(--global-small-text);
}
.news form input:focus {
  outline: 1;
  outline-color: #9292925c;
}
.news form input:placeholder {
  font-size: var(--global-small-text);
}
/* details section */
.details-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--background-blog);
}
.details-content {
  width: 94%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.details-box {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--background-carousel);
  padding: 1rem;
  border-radius: var(--global-border-radius);
}
.details-box button {
  height: 35px;
  width: 150px;
  border-radius: var(--global-border-radius);
  border: 0;
}
.details-box p {
  margin: 0;
  text-align: center;
  font-size: var(--global-small-text);
  color: var(--main-text);
}
/* footer section */
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  background: var(--background-nav);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.sm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}
.sm svg {
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
  fill: var(--main-text-footer);
  cursor: pointer;
}
.sm svg:hover {
  fill: #000000;
}
.store-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  font-size: var(--global-small-text);
  color: var(--main-text-footer);
}
.store-details a {
  text-decoration: none;
  color: var(--main-text-footer);
  transition: font-weight 0.3s ease;
  width: fit-content;
  cursor: pointer;
}
.store-details a:hover {
  font-weight: 400;
  color: var(--footer-text);
}
.store-details h2,
h4 {
  margin: 0;
}
.separator {
  background: var(--main-text-footer);
  width: 30%;
  height: 0.5px;
  margin: 1rem 0rem;
}
.thank-you {
  width: 100%;
  font-size: var(--global-small-text);
  text-align: left;
  color: var(--main-text-footer);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* PRODUCT CARD LAYOUT */
.globalProductCard {
  width: 94%;
  place-self: center;
  margin-top: 2rem;
}
.backButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 0.5rem;
  width: 100%;
}
.productCard-image-box {
  width: 100%;
  max-width: 250px;
  place-self: center;
  overflow: auto;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  scroll-snap-type: both mandatory;
  scrollbar-width: none;
}
.productCard-image-box img {
  width: 100%;
  max-width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  scroll-snap-align: start;
}
.image-sliders {
  display: flex;
  place-self: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.image-slider-dot {
  width: 6px;
  height: 6px;
  background: rgb(190, 190, 190);
  border-radius: 50%;
}
.productCard-summary {
  background: #fff;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0px 0px 5px 0px #a1a1a143;
  z-index: 1;
}
.productCard-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productCard-summary-header-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgb(220, 220, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.productCard-summary-header-button svg {
  fill: #ffffff;
}
.productCard-summary-name {
  font-size: var(--global-text);
  font-weight: 600;
  color: var(--main-text);
  margin: 0;
}
.productCard-summary-composition {
  font-size: var(--global-small-text);
  color: var(--second-text);
  margin: 0;
}
.productCard-summary-sizes {
  font-size: var(--global-small-text);
  color: var(--second-text);
  margin: 1rem 0rem;
  display: flex;
  gap: 1rem;
}
.productCard-summary-sizes-box {
  height: 30px;
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--akordeon-header);
  /* box-shadow: 0px 0px 5px 0px #adadad3a; */
  cursor: pointer;
}
.productCard-summary-ux {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.productCard-summary-amount-wrapper {
  display: flex;
  align-items: center;
  font-size: var(--global-medium-text);
  gap: 5px;
  box-shadow: 0px 0px 5px 0px #adadad3a;
  background: #ffffff;
  border-radius: 30px;
  height: 40px;
}
#less,
#more {
  width: 22px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background: red; */
}
#less {
  /* border-right: 0.5px solid #d4d4d48a; */
}
#more {
  /* border-left: 0.5px solid #d4d4d48a; */
}
.productCard-summary-amount {
  width: 20px;
  height: 40px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.productCard-summary-price {
  font-size: var(--global-text);
  font-weight: 600;
  color: var(--main-text);
  margin: 0;
  /* background: red; */
  /* width: 50%; */
}
.productCard-summary-ux button {
  height: 40px;
  /* width: 40px; */
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px 0px #adadad3a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
}
.productCard-summary-ux button svg {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.accordeons-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.productCard-accordeon {
  width: 100%;
}
.productCard-accordeon-header {
  background: var(--akordeon-header);
  color: var(--akordeon-header-text);
  font-size: var(--global-small-text);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.productCard-accordeon-header:hover {
  background: var(--akordeon-header-hover);
}
.productCard-accordeon-iconContainer1 {
  background: var(--akordeon-icon);
  width: 10px;
  height: 0.5px;
}
.productCard-accordeon-iconContainer2 {
  background: var(--akordeon-icon);
  width: 10px;
  height: 0.5px;
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}
.productCard-accordeon-iconContainer2-animate {
  transform: rotate(0deg);
}
.productCard-accordeon-content {
  /* background: red; */
  color: var(--akordeon-content-text);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  /* border-bottom: 0.5px solid #d9d9d9; */
}
.content-in {
  padding: 1rem;
  font-size: var(--global-small-text);
  line-height: 18px;
}
/* Product recommendation */
.recommendation-wrapper {
  width: 100%;
  background: var(--background-products);
  padding: 2rem 0rem;
  /* white-space: nowrap; */
}
.recommendation-header {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: var(--global-medium-text);
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.recommendation-header svg {
  fill: #000000;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.recommendation-products {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
  justify-content: flex-start;
}
.recommendation-product-empty {
  /* background: red; */
  /* width: 150px; */
  padding: 0.5rem;
  height: inherit;
  flex-shrink: 0;
  flex-grow: 0;
}
.recommendation-product-wrapper {
  width: 160px;
  flex-shrink: 0;
  flex-grow: 0;
}
.recommendation-product-wrapper img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}
.recommendation-data {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.recommendation-name {
  text-wrap: pretty;
  margin: 0;
  font-size: var(--global-small-text);
}
.recommendation-price {
  margin: 0;
  font-weight: 500;
  font-size: var(--global-small-text);
}
.recommendation-previousPrice {
  margin: 0;
  color: var(--second-text);
  font-size: var(--global-small-text);
}
.recommendation-product-wrapper button {
  height: 30px;
  width: 60%;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px 0px #adadad3a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
  font-size: var(--global-small-text);
}
/* FavPAGE */
.favPage-wrapper {
  width: 100%;
  padding: 2rem;
  /* background: var(--background-products); */
}
.favProducts-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.backButton {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.backButton p {
  margin-top: 0;
  margin-bottom: 0;
}
.favProduct {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #adadad3e;
}
.favProduct img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}
.favProduct-data {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.favProductName {
  margin: 0;
  font-size: var(--global-small-text);
}
.favProductDetails {
  margin: 0;
  font-size: var(--global-small-text);
  color: var(--second-text);
}
.favProductPrice {
  margin: 0;
  font-size: var(--global-small-text);
  font-weight: 500;
}
.favProduct-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100px;
}
.favProduct-ui svg {
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease;
  fill: var(--background-nav);
}
.favProduct-ui svg:hover {
  background: #f2f2f2;
}
.favProduct-ui svg:active {
  background: #e0e0e0;
}
/* CartPAGE */
